body {
  text-align: center;
  background-color: #000;
  color: #0F0;
  font-family: 'Press Start 2P', cursive;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2em;
  text-shadow: 0 0 5px #0F0;
}

h2 {
  font-size: 1.5em;
  text-shadow: 0 0 5px #0F0;
}

p, label {
  font-size: 1.2em;
  text-shadow: 0 0 5px #0F0;
}

button, input {
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  background-color: #0F0;
  color: #000;
  border: none;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  max-width: 300px;
  width: 100%;
}

button:hover, input:hover {
  background-color: #0A0;
}

button:active, input:active {
  background-color: #090;
}

input[type=number] {
  width: 50px;
}

#game {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}

@media (max-width: 600px) {
  h1 {
      font-size: 1.5em;
  }

  h2 {
      font-size: 1.2em;
  }

  p, label {
      font-size: 1em;
  }

  input[type=number] {
      width: 100px;
  }
}
